*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #11141c;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: #07090c;
    width: 100vw;
}

header > h1{
    margin: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    background-color: #07090c;
    padding: 20px;
    border-radius: 20px;
}

button{
    width: 200px;
    height: 30px;
    border: aliceblue 3px solid;
    background-color: #07090c;
    color: aliceblue;
    border-radius: 6px;
}

button:hover{
    background-color: #11141c;
}

.input{
    width: 250px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.input > input{
    width: 70%;
}