@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


:root{
    --background-color:#000000;
    --containers-color:#040c25;
    --containers-border:#263957;
    --header-color: linear-gradient(to right, purple, blue);
    --buttons-color-1: rgb(37, 54, 206);
    --buttons-color-selected-1:rgb(138, 138, 255);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:var(--background-color);
    color: aliceblue;
    display: flex;
    font-family: sans-serif;
    margin-top: 4vw;
}

body > header{
    position: fixed;
    top: 0;
    background: var(--header-color);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 4vw;
}

header > h1{
    margin: 10px;
    font-family: 'Orbitron';
}

nav{
    padding: 0.5vw;
    width: 20vw;
}

nav > ul > li> a{
    color:white;
    text-decoration: none;
}

nav > ul > li> a:hover{
    color: lightgray;
}

main{
    width: 80vw;
}

p{
    text-indent: 20px;
    word-break: break-all;
}

input{
    display: flex;
    color: aliceblue;
    border-radius: 10px;
    background-color: var(--containers-color);
    text-align: center;
    outline: none;
}

input:focus{
    border: aliceblue 2px solid;
}

button{
    color: aliceblue;
    background-color: var(--buttons-color-1);
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: var(--buttons-color-selected-1);
}